---
// Component from https://tailkits.com/ui/free/
import { Icon } from "astro-icon/components";
import OmSvg from "public/favicon.svg";
import { ThemeToggle } from "@/components/starwind/theme-toggle";
import Button from "../starwind/button";

interface Props {
  sticky?: boolean;
}

const { sticky = false } = Astro.props;

const homeLink = {
  href: "/v2",
  title: "ARV",
  alt: "Om Logo",
};

const middleLinks = [
  { href: "/v2/projects", title: "Projects", icon: "lucide:rocket" },
  { href: "/v2/blog", title: "Blog", icon: "lucide:newspaper" },
  { href: "/v2/journal", title: "Journal", icon: "lucide:notebook-pen" },
];

const endLinks = [
  { href: "/v2/resume", title: "Resume", icon: "lucide:scroll-text" },
  {
    href: "https://github.com/arv-anshul",
    title: "GitHub",
    icon: "simple-icons:github",
  },
];
---

<header
  class:list={[
    "backdrop-blur-sm font-mono",
    sticky ? "sticky top-3 z-40" : "py-3"
  ]}
>
  <div class="max-w-7xl mx-auto px-4 xl:px-0">
    <div
      class="flex items-center justify-between gap-x-2 rounded-lg py-1 px-2 border border-foreground/3 bg-foreground/10 lg:grid lg:grid-cols-[1fr_auto_1fr] lg:justify-stretch lg:gap-x-12"
    >
      <!-- Home/Logo -->
      <div class="flex items-center">
        <a
          href={homeLink.href}
          title={homeLink.title}
          class="flex items-center"
        >
          <OmSvg
            class="fill-foreground stroke-foreground"
            height="30"
            width="30"
          />
        </a>
      </div>

      <!-- Desktop Navigation -->
      <nav class="mr-auto">
        <ul class="flex items-center md:gap-4">
          {middleLinks.map((link) => (
            <li>
              <a
                class="flex items-center gap-x-1 p-2 text-sm font-medium text-foreground hover:opacity-70 transition-opacity"
                href={link.href}
              >
                <Icon name={link.icon} class="hidden md:inline" />
                {link.title}
              </a>
            </li>
          ))}
        </ul>
      </nav>

      <!-- End Links (Desktop Icons) -->
      <div class="flex items-center gap-x-10 justify-self-end">
        <div class="flex items-center gap-x-1">
          {endLinks.map((link) => (
            <Button
              href={link.href}
              title={link.title}
              variant="ghost"
              size="icon-sm"
              class="hover:opacity-70 transition-opacity"
            >
              <Icon name={link.icon}/>
            </Button>
          ))}

          <ThemeToggle size="sm" />
        </div>
      </div>
    </div>
  </div>
</header>
